@model IEnumerable<GraniteHouse.Models.Product>
@{
    ViewData["Title"] = "Product list";
}

<div class="row">
    <div class="col-6 text-left">
        <h2 class="text-info">Product list</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info btn-sm">
            <i class="fas fa-plus"></i> Create new product
        </a>
    </div>
</div>

<br/>

<table class="table table-striped border table-sm">
    <tr class="table-info">
        <th>@Html.DisplayNameFor(m => m.Name)</th>
        <th>@Html.DisplayNameFor(m => m.Price)</th>
        <th>@Html.DisplayNameFor(m => m.IsAvailable)</th>
        <th>@Html.DisplayNameFor(m => m.ProductType)</th>
        <th>@Html.DisplayNameFor(m => m.SpecialTag)</th>
        <th class="col-2"></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.Name)</td>
            <td>@Html.DisplayFor(m => item.Price)</td>
            <td>@Html.DisplayFor(m => item.IsAvailable)</td>
            <td>@Html.DisplayFor(m => item.ProductType.Name)</td>
            <td>@Html.DisplayFor(m => item.SpecialTag.Name)</td>
            <td class="float-right">
                <partial name="_TableButtonPartial" model="item.ID" />
            </td>
        </tr>
    }
</table>